body{
    background-color: antiquewhite;
}
.heading{
    display: flex;
    justify-content: center;
    color: #333;
    margin-top: 8rem;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    width: 20rem;
    height: 11rem;
    border: black 1px solid;
    border-radius: 3%;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
}

.intro{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    color: #333;
    font-size: 1.2rem;
}

.loginbtn-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    align-items: center;
}

.loginbtn{
    width: 15rem;
    height: 3rem;
    border: black 1px solid;
    background-color: black;
    border-radius: 5%;
    margin-top: 1rem;
    color: aliceblue;
    font-size: large;
}

.footer{
    display:grid;
    margin-top: 2rem;  
    color: #333;
    background-color: blanchedalmond;
    justify-content: right;
}

a{
    text-decoration: none;
    color: black;
    margin-top: 0.3rem;
}
a:hover{
    color: blue;
}

